@import "variables";

/*@media (min-width: 1170px) {
  html.scroll {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    footer {
      width: 100vw;
      position: relative;
      right: calc(100vw - 100%);
    }
  }
}*/

@media (max-width: 1170px) {
  @import "media-1170";
}

@media (max-width: 991px) {
  @import "media-991";
}

@media (max-width: 768px) {
  @import "_media-768.scss";
}

@media (max-width: 600px) {
  @import "media-600";
}